<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sellsapp"
    android:versionCode="2"
    android:versionName="OBTPV02" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />   
     <uses-permission android:name="android.permission.CALL_PHONE"/>  

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/titlebarstyle" >
        <activity android:name=".basic.MainActivity" >
        </activity>
        <activity android:name=".home.BuyBookActivity" />
        <activity android:name=".home.SellBookActivity" />
        <activity android:name=".home.SearchActivity" />
        <activity
            android:name=".home.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".home.BookInfoDetiActivity"
            android:label="@string/title_activity_book_info_deti" >
        </activity>
        <activity android:name=".welcome.WeclomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity android:name=".personal.LoginActivity" >
        </activity>
        <activity android:name=".personal.RegisterActivity" />
        <activity android:name=".personal.PersonalBuyActivity" />
        <activity android:name=".personal.PersonalSellActivity" />
        <activity android:name=".personal.PersonalSettingActivity" />
        <activity android:name=".personal.Aboutus" />
        <activity android:name=".personal.MessageRemanding" />
        <activity android:name=".personal.PwdChange" />
        <activity android:name=".personal.UpdataCheck" />
        <activity android:name=".message.TestActivity" />
        <activity android:name=".shoppingcart.CartItemActivity" />
        <activity android:name=".personal.PDeitActivity" />
        <activity android:name=".personal.SellDeitActivity" />
        <activity android:name="com.sellsapp.personal.WebViewActivity"/>
        <activity android:name="com.sellsapp.message.chat.ChatMessageActivity"/>
        <activity android:name="com.sellsapp.message.MessageActivity"/>

        <service android:name=".message.myServer" >
        </service>
        <service android:name=".message.MyService" >
        </service>

        <receiver android:name=".message.AlarmReceiver" >
        </receiver>

        
        <activity
            android:name="com.sellsapp.home.UpAppActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
		<service android:name="com.sellsapp.service.UpAppService" />
		<service android:name="com.sellsapp.tcp.service.TCPService"/>

    </application>

</manifest>